button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 13px;
    font-weight: 600;
    font-size: 15px;
    color: $dark-text;
    border-radius: 4px;
    transition: all .3s ease-in-out;
    &.signup {
        background-color: $black;
        color: $white;
        &:hover {
            background-color: $dark-text;
        }
    }
    &.login {
        &:hover {
            text-decoration: underline;
        }
    }
}