$family: 'Cabin', sans-serif;

// color
$dark-text: #333;
$black: #000;
$white: #fff;
$main-bg: rgb(222, 218, 218);
$gray-text: #5c5a5a;

// breakpoint
$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';
$skiny: '(max-width: 375px)';